@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

html {
  font-family: "Fira Code";
  scroll-behavior: smooth;
}

.p {
    color: gray;
    text-transform: uppercase;
    background: rgb(10,10,23);
    background: linear-gradient(90deg, gray, darkgray 100%); 
    
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
  }
  
  @keyframes shine {
    0% {
      background-position-x: -500%;
    }
    100% {
      background-position-x: 500%;
    }
  }


/* for styling may name ALi SIna YOusofi in Name Comp*/
/* .p{
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
  
   
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    box-shadow: 2px 2px 44px seashell;
    background: white;
    position: relative;
    background: transparent;
    color: #000;
  }
  
.p:before{
    content: "Ali Sina Yousofi";
    position: absolute;
    background: linear-gradient(darkgray, gray);
    box-shadow: 2px 2px 14px seashell;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 100% 90%;
    line-height: 0.9;
    clip-path: ellipse(120px 120px at -2.54% -9.25%);
    animation: swing 5s infinite;
    animation-direction: alternate;
} */

@keyframes swing{
    0%{
        -webkit-clip-path: ellipse(120px 120px at -2.54% -9.25%);
        clip-path: ellipse(120px 120px at -2.54% -9.25%)
    }
    50%{
        -webkit-clip-path: ellipse(120px 120px at 49.66% 64.36%);
        clip-path: ellipse(120px 120px at 49.66% 64.36%);

    }
    100%{
        -webkit-clip-path: ellipse(120px 120px at 102.62% -1.61%);
        clip-path: ellipse(120px 120px at 102.62% -1.61%);
    }
}
  

.fade{
    animation:fade1 1s linear;
  }
  
.fade2{
    animation:fade2 1s linear;
}
  
  
@keyframes fade1 {
    0% {
      opacity: 0;
    }
    100% {
     opacity: 1;
    }
  }
  
@keyframes fade2 {
    0% {
      opacity: 0;
    }
    100% {
     opacity: 1;
    }
}



/* styling the grid */
.uppercase {
  transition: all 0.1s ease;
}

.uppercase:hover { transform: translateY(-2px)}



.menu {
 
  border: none;
  outline: none;
  color: darkgray;
 
  cursor: pointer;
  position: relative;
  z-index: 10;
  border-radius: 10px;
}

.menu::before {
  content: '';
  /* background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000); */
  background: linear-gradient(45deg, #0D324D, #0A101D);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.menu:active {
  color: #000
}

.menu:active:after {
  background: transparent;
}

.menu:hover:before {
  opacity: 1;
}

.menu:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background:#04060A;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@media only screen and (max-width: 720px) {
  .bitch {
    right: 10%;
    left: 10%
  }
} 
@media only screen and (max-width: 500px) {
  .bitch {
    right: 0%;
    left: 0%;
  }
} 
  
